
<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />

<style>
.content{ margin-top:4%
}
</style>
    <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
    <script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
  <script>
  
  $(document).ready(function(){
  
$("#home").load("{{tg.url('/info')}}");
  
 $("#menu1").load("{{tg.url('/existingorg')}}");
  
  
  return;
  });
</script>

</head>
<body>

  
  
  <div class="container">
	<br />
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">About</a></li>
    <li><a data-toggle="tab" href="#menu1">Select Existing Organisation</a></li>
    <li><a data-toggle="tab" href="#menu2">Create Organisation</a></li>

  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      
      
    </div>
    <div id="menu1" class="tab-pane fade">
      
     
    </div>
    <div id="menu2" class="tab-pane fade">
      
    </div>
   
  </div>
</div>
  

  
  
  
 
  
  </body>
</html>

